* {
  box-sizing: border-box
}

:root {
  --full-color: #3795BD;
  --main-color: #7695FF;
}

body {
  direction: rtl;
  background: #f7f7f7;
  font-family: 'Zain'
}

body::-webkit-scrollbar {
  width: 5px
}

body::-webkit-scrollbar-track {
  background: var(--full-color)
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px
}

::selection {
  background: var(--main-color);
  color: #fff
}

/* Start Menu */
.menu {
  background: #fff;
  border: 1px solid #efefef;
  width: 80%;
  margin: 20px auto 0;
  border-radius: 7px;

  & .heading {
    & h4 {
      color: #fff;
      background: var(--full-color);
      border-radius: 5px;
      padding: 10px 5px
    }
  }

  & .box-content-link {
    margin-bottom: 10px;

    & a {
      text-decoration: none;
      color: #fff;
      background: var(--full-color);
      border-radius: 5px;
      padding: 10px 5px;
      display: block;

      &.active {
        background: #36BA98;
        color: #fff
      }
    }
  }
}

/* End Menu */
/* Start Content */
.content-page {
  & h4 {
    color: #fff;
    background: var(--full-color);
    padding: 10px 5px;
    font-weight: bold;
    text-align: center
  }

  & .box-content {
    border: 1px solid #f3f3f3;
    background: #fff;

    & span {
      color: var(--main-color);
      font-weight: bold;
      display: block
    }

    & p::first-letter {
      color: var(--main-color)
    }

    & p:first-of-type::after {
      content: attr(num);
      position: absolute;
      top: -30px;
      right: 0;
      font-size: 90px;
      color: #777;
      opacity: 0.2
    }

    & .name-allah {
      background: #f7f7f7;
      border-radius: 5px;

      & span {
        color: #000
      }
    }

    & .quantity {
      position: relative;

      & input[type="text"] {
        font-size: 30px;
        box-shadow: none;
        outline: none;
        width: 60px;
        height: 60px;
        text-align: center;
        border: 1px solid #f1f1f1;
        color: #342f2f;
        border-radius: 100px;
        display: block;
        margin: auto;
        background: #f7f7f7
      }

      & .number {
        position: absolute;
        top: 45px;
        left: 50%;
        color: #fff;
        background: #0D7C66;
        border: 2px solid #fff;
        font-size: 20px;
        cursor: pointer;
        transform: translateX(-50%);
        border-radius: 100px;
        width: 30px;
        height: 30px;
        line-height: 35px;
        text-align: center
      }

      & input.active {
        background: #0D7C66;
        border: 1px solid #0D7C66;
        color: #fff
      }
    }
  }
}

/* End Content */
/* Start Quran */
.name-surah {
  border: 1px solid #f3f3f3;
  background: #fff;
  width: 100%;
  margin: auto;

  & .surah {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s;
    color: #000;
    background: #f7f7f7;
    font-size: 17px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Jost', 'Noto Naskh Arabic';
    padding: 10px 0;

    & p:first-child {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: var(--main-color);
      color: #fff;
      border-radius: 50px
    }

    & p:last-child {
      letter-spacing: -1px;
    }
  }
}

.surah-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;
  overflow-y: scroll;
  transform: translateX(100%);

  &.active {
    transform: translateX(0);
    transition: all .2s;
  }

  & .close-pop {
    position: sticky;
    top: 20px;
    right: 30px;
    background: var(--main-color);
    border-radius: 5px;
    width: 40px;
    height: 35px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 25px
  }

  & .ayat {
    padding: 20px;
    margin: 20px 0;
    color: #333;
    text-align: center;

    & p {
      padding: 10px 0 0;
      border-bottom: 1px solid #e4eaff;
      font-family: 'Jost', 'Noto Naskh Arabic'
    }
  }
}

.surah-pop::-webkit-scrollbar {
  width: 5px
}

.surah-pop::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px
}

.surah-pop::-webkit-scrollbar-track {
  background: var(--full-color)
}

/* End Quran */
/* Start Footer */
.footer {
  direction: ltr;

  & .copyright {
    & span {
      font-size: 18px;
      font-weight: bold
    }

    & a {
      text-decoration: none;
      color: #fff;
      background: var(--full-color);
      border-radius: 5px;
      padding: 5px 10px;
      display: block;
      width: fit-content;
      margin: 5px auto 0;

      & i {
        position: relative;
        top: 3px;
        right: 5px
      }
    }
  }
}

/* End Footer */
